body{
 padding-top: 100px;
 display: flex;
 justify-content: center;
  align-items: center;


    
}

.card{
    width: 16rem;
    height: 27rem;
    border-radius: 15px;
     display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px  rgb(212, 210, 210);
    
}
.card-img-top{
    
    border-radius: 10px;
    width: 14rem;
    height: 14rem;
    margin: 15px 0;

}
.card-body{
    text-align: center;
}
.card-title{
    font-size: large;
    font-weight: bold;
   padding-bottom: 10px;
}
.card-text{
    font-size: small;
    font-weight: 400;
    color: grey;
}